<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-lg-12">
        <h2>{{pageTitle}}</h2>
      </div>
    </div>
    <!-- /. ROW  -->
    <hr />
    <a [routerLink]="['/job']" class="btn btn-primary">جديد</a>
    <br>
    <br>
    <table class="table">
      <tr>
        <th>#</th>
        <th>اسم المتقدم</th>
        <th>التخصص</th>
        <th>سنوات الخبرة</th>
        <th>الدولة</th>
        <th>المدينة</th>
      </tr>
      <tr *ngFor="let application of (jobApplications | async); let i = index">
        <td>{{i + 1}}</td>
        <td>
          <a [routerLink]="['/application-detail', application.$key]">
            {{application.fullName}}
          </a>
        </td>
        <td>{{application.jobTitle}}</td>
        <td>{{application.city}}</td>
        <td>{{application.residentIn}}</td>
        <td>{{application.city}}</td>
      </tr>
    </table>


  </div>
  <!-- /. PAGE INNER  -->
</div>
