<div id="wrapper">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="adjust-nav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
        <a class="navbar-brand" href="#">
          <img src="assets/img/logo.png" />

        </a>

      </div>

      <span class="logout-spn">
                  <a href="#" style="color:#fff;">خروج</a>  

                </span>
    </div>
  </div>
  <!-- /. NAV TOP  -->
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">



        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/dashboard']"><i class="fa fa-desktop fa-fw"></i>&nbsp; لوحة التحكم</a>
        </li>

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/about']"><i class="fa fa-address-card-o fa-fw"></i>&nbsp; عن مدارسنا</a>
        </li>
        
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/notification-list']"><i class="fa fa-bell-o "></i>&nbsp; الإشعارات</a>
        </li>

        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/news-list']"><i class="fa fa-newspaper-o "></i>&nbsp; أخبار المدارس</a>
        </li>

        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/map']"><i class="fa fa-map-marker "></i>&nbsp; الوصول للمدارس</a>
        </li>
        
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/image-list']"><i class="fa fa-picture-o"></i>&nbsp; معرض الصور</a>
        </li>

        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/video-list']"><i class="fa fa-play-circle "></i>&nbsp; معرض الفيديو</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/job-list']"><i class="fa fa-graduation-cap "></i>&nbsp; التوظيف</a>
        </li >
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/about']"><i class="fa fa-link "></i>&nbsp; التعليم الإلكتروني</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/about']"><i class="fa fa-phone-square "></i>&nbsp; اتصل بنا</a>
        </li>

      </ul>
    </div>

  </nav>
  <!-- /. NAV SIDE  -->
<router-outlet></router-outlet>
  <!-- /. PAGE WRAPPER  -->
</div>
<div class="footer">


  <div class="row">
    <div class="col-lg-12">
      &copy; 2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a>
    </div>
  </div>
</div>


<!-- /. WRAPPER  -->