  <div id="page-wrapper">
    <div id="page-inner">
      <div class="row">
        <div class="col-lg-12">
          <h2>لوحة مشرف الموقع</h2>
        </div>
      </div>
      <!-- /. ROW  -->
      <hr />

      <!-- /. ROW  -->
      <div class="row text-center pad-top">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="div-square">
            <a [routerLink]="['/about']">
              <i class="fa fa-address-card-o fa-5x"></i>
              <h4>عن مدارسنا</h4>
            </a>
          </div>


        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="div-square">
            <a href="blank.html">
              <i class="fa fa-bell-o fa-5x"></i>
              <h4>الإشعارات</h4>
            </a>
          </div>


        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="div-square">
            <a href="blank.html">
              <i class="fa fa-newspaper-o fa-5x"></i>
              <h4>أخبار المدارس</h4>
            </a>
          </div>



        </div>
        <!-- /. ROW  -->
        <div class="row text-center pad-top">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="div-square">
            <a href="blank.html">
              <i class="fa fa-map-marker fa-5x"></i>
              <h4>الوصول للمدارس</h4>
            </a>
          </div>


        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="div-square">
            <a href="blank.html">
              <i class="fa fa-picture-o fa-5x"></i>
              <h4>معرض الصور</h4>
            </a>
          </div>


        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="div-square">
            <a href="blank.html">
              <i class="fa fa-play-circle fa-5x"></i>
              <h4>معرض الفيديو</h4>
            </a>
          </div>


        </div>



      </div>
      <!-- /. ROW  -->
      <div class="row text-center pad-top">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="div-square">
            <a href="blank.html">
              <i class="fa fa-graduation-cap fa-5x"></i>
              <h4>التوظيف</h4>
            </a>
          </div>


        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="div-square">
            <a href="blank.html">
              <i class="fa fa-link fa-5x"></i>
              <h4>التعليم الإلكتروني</h4>
            </a>
          </div>


        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="div-square">
            <a href="blank.html">
              <i class="fa fa-phone-square fa-5x"></i>
              <h4>اتصل بنا</h4>
            </a>
          </div>


        </div>

      </div>
      <!-- /. ROW  -->

      <div class="row">
        <div class="col-lg-12 ">
          <br/>
          <div class="alert alert-danger">
            <strong>Want More Icons Free ? </strong> Checkout fontawesome website and use any icon <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/icons/">Click Here</a>.
          </div>

        </div>
      </div>
      <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
  </div>